{% extends 'base.html' %} {%block content%} {% if user.is_authenticated %}
<h1 class="text-center">Reporte PDF</h1>
<div class="row text-center">
    <div class="col-6">
        Columna 1
    </div>
    <div class="col-6">
        Columna 2
    </div>
</div>
<br/>
<h2>Ejemplo de una tabla en el reporte PDF</h2>
<table class="table">
    <tr>
        <td>Columna 1</td>
        <td>Columna 2</td>
        <td>Columna 3</td>
    </tr>
    <tr>
        <td>Columna 1</td>
        <td>Columna 2</td>
        <td>Columna 3</td>
    </tr>
    <tr>
        <td>Columna 1</td>
        <td>Columna 2</td>
        <td>Columna 3</td>
    </tr>
</table>
{%else%}

<div class="col-md-6 offset-md-3">
  <h1>Login</h1>

  <form method="post" action="{% url 'home'%}">
    {%csrf_token%}
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="username"
        ,
        placeholder="Username"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        ,
        placeholder="Password"
      />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>

{%endif%} {%endblock%}