{% extends 'base.html' %} {% block content %}

<div class="card text-white bg-dark border-danger">
  <div class="card-header border-light">
    <strong>
      <h2>{{ reported_crime.user_report }}</h2>
      <br />
      <strong>ID Reporte: </strong>{{ reported_crime.id }}
    </strong>
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Delito: </strong>{{ reported_crime.delito }}
    </p>

    <p class="card-text">
      <strong>Categoria: </strong>{{ reported_crime.categoria }}
    </p>
    <p class="card-text">
      <strong>Alcaldia: </strong>{{ reported_crime.alcaldia_hecho }}
    </p>
    <p class="card-text">
      <strong>Fecha: </strong>{{ reported_crime.fecha_hecho }}
    </p>
    <p class="card-text">
      <strong>Hora: </strong>{{ reported_crime.hora_hecho }}
    </p>
    <p class="card-text">
      <strong>Direccion: </strong>{{ reported_crime.direccion }}
    </p>
  </div>
</div>

<br /><br />

<a
  href="{% url 'delete_reported_crime' reported_crime.id %}"
  class="btn btn-danger"
  >Eliminar Reporte</a
>

<a  href="{% url 'update_reported_crime' reported_crime.id %}"  class="btn btn-warning"  >Actualizar Reporte</a>

<a  href="{% url 'generate_pdf_specific_report' reported_crime.id %}"  class="btn btn-success"  >PDF</a>


<a href="{% url 'profile' %}" class="btn btn-secondary">Regresar</a>
<a href="{% url 'mail_Sender' %}" class="btn btn-secondary">MAIL</a>

{% endblock %}
